<div class="calendar-mode-buttons">
  <button mat-stroked-button (click)="calendarMode.set('monthly')">monthly</button>
  <button mat-stroked-button (click)="calendarMode.set('weekly')">weekly</button>
  <button mat-stroked-button (click)="calendarMode.set('daily')">daily</button>
  <button mat-stroked-button (click)="showToday()">Today</button>
</div>

@switch (calendarMode()) {
  @case ('monthly') {
    <app-monthly-view [viewDate]="viewDate()" />
  }
  @case ('weekly') {
    <app-weekly-view [viewDate]="viewDate()" />
  }
  @case ('daily') {
    <app-daily-view [viewDate]="viewDate()" />
  }
}
