:host {
  display: flex;
  flex-direction: column;
  height: 97dvh;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  height: 100%;;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  height: 64px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background-color: #fafafa;
  padding: 8px 0;
}

.days-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 4px;
  background-color: #fff;
}

.calendar-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 8px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
